.bubble {
	background-color: black;
	position: absolute;		
	width: 200px;
	height: 200px;
	border-radius: 100%;
	margin: 0 auto;
	left: 760px;
	top: 295px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	z-index: 1;
}
			
#title {
	width: 200px;
	height: 200px;
	font-size: 25px;
	top: 70px;
	left: 325px;
}
			
#main {
	width: 550px;
	height: 550px;
	top: 80px;
	left: 510px;
	font-size: 20px;
	padding: 20pt;
}
			
#back {
	font-size: 20px;
	width: 100px;
	height: 100px;
	background-color: white;
	color: black;
	left: 1100px;
	top: 125px;
}
			
#container { 
	width: 700px; 
	height: 700px;
	margin: 10px auto; 
	position: absolute;
}